//- mixin tour (images, price, title, starRate, reviews, duration, tourPrice  )
//-     .tour
//-         .tour-container
//-             .tour-top
//-                 img.tour-image(src=images alt="Japan")
//-                 span.tuor-price From #{price}
//-             .tuor-content
//-                 h3=title
//-                 .tour-ratting 
//-                     .tour-reviews
//-                         img(src="./img/star.png" alt="Sao")
//-                         span #{starRate} (#{reviews} reviews) 
//-                     .tour-duration Duration: #{duration} hours
//-                 button.tour-button Tours Price $#{tourPrice} 